/*font*/

@font-face {
font-family: "Gloss and Bloom";
src: url("css/fonts/Gloss_And_Bloom.ttf");
}

/*loader*/

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}




/*universal*/


body, html {
  height: 100%;
}

.content {
  position: fixed;
}

#footer {
  margin-bottom: 0%;
  margin-top: 92vh;
  color: #cdcdcd;
  text-align: center;
  z-index: 1;
}

#photo-footer {
  color: #cdcdcd;
  display:block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#logo {
  width: 15%;
}

#logo-bar {
  position: fixed;
  padding: 20px
}

.content {
  position: absolute;
  margin-top: 7%;
  margin-left: 15%;
  margin-right: 15%;
}

.header-1 {
  font-family: Playfair Display;
  font-style: bold;
  font-size: 48px;
  line-height: 98%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-2 {
  font-family: Playfair Display;
  font-style: bold;
  font-size: 40px;
  line-height: 98%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-3 {
  font-family: Playfair Display;
  font-style: bold;
  font-size: 28px;
  line-height: 98%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-4 {
  font-family: Playfair Display;
  font-style: italic;
  font-size: 20px;
  line-height: 130%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text, .text li {
  font-family: Playfair Display;
  font-size: 20px;
  line-height: 150%;
  text-decoration: none;
  color: black;
}

.body-text {
  font-family: Work Sans;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: black;
}

.list-item {
  font-family: Playfair Display;
}

.sidebar {
  position: fixed;
  float: left;
  margin-left: 7%;
  margin-top: 25%;
}

.page-content {
  position: relative;
  margin-left: 30%;
}

.sidebar-text{
  font-family: Work Sans;
  font-size: 20px;
  line-height: 150%;
  text-decoration: none;
  color: black;
  font-style: bold 700;
}

.sidebar-text-item {
  text-decoration: none;
  color: black;
}

/*navbar*/

#navigation {
  overflow-x: hidden;
}

.navbar-text {
  font-family: Playfair Display;
  font-size: 20px;
  line-height: 150%;
  text-decoration: none;
  color: black;
  font-style: bold 700;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  right: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 100%;

  cursor: pointer;

  opacity: 0;
  background-color: red;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  left: 100%;

  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  min-height: 80vh;
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  left: 90%;

  background: #ededed;
  opacity: 0.9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#menuToggle input ~ #menu {
  opacity: 0;
  display: none;
  overflow: hidden;
}

#menuToggle input:checked ~ #menu {
  opacity: 0.9;
  transform: translate(-30%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  display: inline-block;
}


/*index.html*/

#index-body {
  overflow-y: hidden;
}

#index-my-photo {
  position: fixed;
  width: 40%;
  float: left;
  margin-left: -3%;
  margin-top: 5%;
}

#index-description {
  position: fixed;
  float: left;
  margin-left: 43%;
  margin-top: 5%;
  width: 400px;
}

#name {
  font-family: Playfair Display;
  line-height: 150%;
}

/*(Source: https://codepen.io/erikterwan/pen/EVzeRP)*/

/*experience.html*/

#experience-projects {
  margin-top: 80%;
  padding-top: 5%;
}

#experience-organizations {
  margin-top: 65%;
}

.experience-page-content {
  position: relative;
  margin-left: 30%;
  background-color: #f1f1f2;
  padding: 30px;
  margin-top: -40px;
  height: 270vh;
  margin-bottom: -730px;
}

.experience-work-item {
  float: left;
  width: 100%;
}

.experience-work-item-img {
  padding: 5%;
  width: 20%;
  float: left;
}

.experience-work-item-desc {
  padding: 10%;
  margin-left: 15%;
  margin-top: -5%;
}

.experience-header {
  float: left;
}

#experience-org-item-img-1 {
  width: 15%;
  padding-left: 8%;
  padding-top: 10%;
  float: left;
}

#experience-org-item-img-2 {
  width: 20%;
  padding-left: 6%;
  padding-top: 10%;
  padding-right: 0%;
  margin-right: 4%;
  float: left;
}

.experience-org-item-desc {
  display: inline-block;
  float: left;
  margin-top: 10%;
  margin-left: 6%;
  padding: 10px;
  width: 60%;
}

.experience-org-item-desc-2 {
  /*display: inline-block;*/
  /*float: left;*/
  margin-top: 10%;
  margin-left: 5%;
  padding: 10px;
  width: 85%;
}

/*photo.html*/

#photo-body {
  overflow-y: hidden;
}

#photo-emily {
  display: block;
}

#photo-max {
  display: none;
}

.photo-carousel {
  display: block;
  position: absolute;
  width: 100%;
  overflow: auto;
  white-space:nowrap;
}

.photo-carousel .slide {
  display: inline-block;
  padding: 99px;
  width: 60%;
  vertical-align: middle;
}

.photo-img {
  margin-top: -7%;
  width: 100%;
}

#portrait-photo {
  width: 72%;
}
