body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Lato;
}

.pagewrapper {
  height: 100%;
  width: 100%;
}

.section {
	width: 100%;
	height: 500px;
	position: relative;
}

.text {
  position: absolute;
	font-size: 36px;
	color: white;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

li {
    display: inline;
}

#name-text {
  font-size: 150px;
	font-family: Oswald;
	font-weight: 600;
	line-height: 90%;
}

#title-section {
  background-image: url("../img/thu.JPG");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 5;
}

#title-subtext {
  font-style: italic;
  margin-left: 17%;
  margin-top: 13%;
  font-weight: 500;
  font-size: 25px;
}

#name-text {
  margin-left: 20%
}

li {
  display: inline;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  font-weight: 700;
  border-right: 1px solid #ccc;
  z-index: 90;
}

a:visited {
  color: white;
}

ul {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  list-style: none;
  background-color: black;
  opacity: 0.3;
  margin-top: 0;
  margin-bottom: -20px;
}

.navbar {
  opacity: 1;
  background-color: black;
	z-index: 0.5;
}

#about-section {
	background-color: #CECECE;
}

#project-section {
  background-color: #a6a6a8;
  height: 900px;
}

#experience-section {
	background-color: #9fb1bc;
  height: 700px;
}

#contact-section {
	background-color: #6e8898;
	height: 600px;
}

#header {
  color: white;
  font-size: 80px;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 60px;
	font-family: Oswald;
	font-weight: 600;
	margin-bottom: 0%;
}

#body-text {
  padding-top: 60px;
}

.project {
  float: left;
  padding: 15px;
  width: 450px;
  height: auto;
	z-index: 50;
}

#description {
	font-family: Lato;
	color: white;
	font-style: italic;
	font-size: 24px;
	text-align: center;
	line-height: 50%;
	margin-bottom: 3%;
}

.project-item:hover .image-text {
	opacity: 1;
	transition: all 0.5s;
	color: white;
}

.experience-item:hover .image-text {
	opacity: 1;
	transition: all 0.5s;
	color: white;
	position: fixed;
}

.project-item:hover .middle {
	opacity: 1;
}

.project-item:hover .subheader {
	opacity: 1;
	transition: all 0.5s;
	color: white;
	font-weight: 700;
}

.experience-item:hover .subheader {
	opacity: 1;
	transition: all 0.5s;
	color: white;
	font-weight: 700;
}

.project-item {
	position: relative;
	float: left;
}

.experience-item {
	position: relative;
	float: left;
}

.experience {
  float: left;
  padding: 20px;
  width: auto;
  height: 150px;
  text-align: center;
  display: block;
}

#left-margin {
  margin-left: 120px;
}

.middle {
	width: 450px;
	z-index: 50;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.image-text, .subheader {
	background-color: #9fb1bc;
	font-size: 16px;
	padding: 10px;
	color: white;
	left: 0;
	right: 0;
	width: 318px;
	text-align: center;
	margin-left: 12.5%;
	opacity: 0;
	z-index: 1;
}

.subheader {
	margin-top: 10%;
	font-size: 36px;
	font-weight: 700;
	height: 67px;
}

.image-text {
	margin-top: -30px;
	height: 130px;
}

#exp-left {
	margin-left: 150px;
}

#exp-right {
	margin-left: 60px;
	margin-right: auto;
}

#exp-left, #exp-right, #exp {
	text-align: center;
}

.contact-icon {
	width: 50px;
	height: auto;
	padding: 10px;
	vertical-align: middle;
}

.contact-link {
	text-decoration: none;
	color: #31393c;
}

.contact-link:visited {
	color: #31393c;
}

#proj-widen {
	width: 320px;
}

#proj-too-long {
	font-size: 30px;
}

#exp-widen {
	width: 233px;
}

.middle-exp {
	position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9fb1bc;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.experience-item:hover .middle-exp {
	width: 100%;
}

.image-text-exp {
	white-space: normal;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: visible;
	margin-top: 60px;
}

.subheader-exp {
	color: white;
	font-size: 26px;
	position: absolute;
	overflow: hidden;
	font-weight: 700;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#about-text {
	margin-top: 4%;
	text-align: justify;
	font-size: 24px;
}

.sidebar-item {
	font-weight: 700;
}

.proj-link {
	text-decoration: none;
	color: white;
	background-color: #6e8898;
	padding: 5px;
	border-radius: 8px;
}

#contact-text {
	margin-top: 50px;
}

#up-arrow {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 320px;
	height: 50px;
	width: 50px;
}
